### Functions For Data Analysis

In [ ]:
# Function to replace Backslash \ with Frontslash / in a given path.
def slash_rep(path):
    #it replaces \ with /
    return path.replace("\r","/r")

In [ ]:
#use r before "path"
slash_rep(r"C:\Users\fake path\Data_csv\")

#### # Glob to merge and concat multiple sets

In [ ]:
# Using GLOB to merge and concat multiple files!
path =r"C:\\Users\\arjun\\Documents\\Enernoc_Project_Aj\\Test" # use your path

allFiles = glob.glob(path + "/*.csv")
# frame = pd.DataFrame()
dflist = []
for f in allFiles:
   file_name = f[54:-4]
   df = pd.read_csv(f)
   df.insert(1, 'site_id', file_name)
   dflist.append(df)
    
site_df = pd.concat(dflist)

In [ ]:
## Merging multiple csv files and assigning file name as a new column name in a dataframe. 


path =r"C:\\Users\\arjun\\Documents\\Enernoc_Project_Aj\\Test" # use your path

allFiles = glob.glob(path + "/*.csv")
# frame = pd.DataFrame()
dflist = []
for f in allFiles:
   file_name = f[54:-4]
   df = pd.read_csv(f)
   df.insert(1, 'site_id', file_name)
   dflist.append(df)
    
frame = pd.concat(dflist)

In [ ]:
# Top n (n = natural number) for any two columns within any df along with dataframe df.
def top_n(df, col1, col2, n):
    #Finds top n of two columns!
    topn = df.nlargest(n, col2)[[col1,col2]].reset_index()
    return topn

In [ ]:
top_n(pd_df, "col1", "col2", n)

In [ ]:
# Top 35 for any two arguments along with any df

def top_35(df, col1, col2):
    #Finds top 35 of two columns!
    sortk = df.nlargest(35, col2)[[col1,col2]].reset_index()
    return sortk

In [ ]:
top_35(pd.df, "col1", "col2")

In [ ]:
# Function to find Top 25 movies using 2 columns!
def top_25(df, col1, col2):
    t25 = df.nlargest(25, col2)[[col1,col2]].reset_index(drop=True)
    return t25

In [ ]:
top_25(pd.df, "col1", "col2")

In [ ]:
#Function to Print Top 10 of any two columns from a Dtaframe(df), and resets the index.
def top_10(df, col1, col2):
    #to find Top 10 of any two columns(col1, col2), in a Dataframe(df).
    t10 = df.nlargest(10, col2)[[col1,col2]].reset_index(drop=True)
    return t10

In [ ]:
top_10(pd.df, "col1", "col2")

In [ ]:
# Function to plot a Scatter plot with two colomns in a given Dataframe(df).

def sctrplt(df, col1, col2,labelx, labely):
    # scatter plot for two columns.
    splt =plt.scatter(df[col1], df[col2], marker='.')
    xl =plt.xlabel(labelx)
    yl = plt.ylabel(labely)
    return splt, xl,yl

In [ ]:
sctrplt(pd.df, "col1", "col2")

In [ ]:
# Function to plot a Red Bar plot with two colomns in a given Dataframe(df).

def barplt(df, col1, col2,labelx,labely):
    #to plot a dataframes' Bar graph, colums and their labels 
    bplot = df.plot(kind='bar',x=col1 ,y=col2, figsize=(18,9), color='darkblue')
    xl =plt.xlabel(labelx)
    yl = plt.ylabel(labely)
    return bplot, xl,yl

In [ ]:
barrplt(pd.df, "col1", "col2","x-label","y-label")

In [ ]:
# Function to Groupby by one colomn w.r.t two other colomns. 
def sum_groupby(df, col1, col2, col3):
    #gropping colomns with sum aggregation. 
    grp = df.groupby(col1)[col2,col3 ].agg('sum')
    return grp

In [ ]:
sum_groupby(pd_df,"col1","col2","col3").head(5)

In [ ]:
# Function to Groupby by one colomn w.r.t two other colomns. 

def mean_groupby(df, col1, col2, col3):
    #gropping colomns with mean aggregation. 
    grp = df.groupby(col1)[col2,col3 ].agg('mean')
    return grp

In [ ]:
mean_groupby(pd_df,"col1","col2","col3").head(5)

In [ ]:
def roei(df,col1,col2,col3,n):
#calculatin Return on Investment(ROI) for one Parameter = col1, 
# profit = col2
# investment = col3
    profit = df.groupby(col1)[col2 ].agg('sum')
    invest = df.groupby(col1)[col3].agg('sum')
    ri = profit/invest
    gi = ri.sort_values(ascending = False).head(n)
    return gi

In [ ]:
def roiy(df,col1,col2,col3,n,yearv,y):
#calculatin Return on Investment(ROI) for one Parameter = col1, 
# profit = col2
# investment = col3
#n = number of values to be displayed
# yearv = to give a column name for year based analysis(name of the year column)
# y = year(to get all the values greater than year y )
    v = df[df[yearv]> y]
    profit = v.groupby(col1)[col2 ].agg('sum')
    invest = v.groupby(col1)[col3].agg('sum')
    ri = profit/invest
    gi = ri.sort_values(ascending = False).head(n)
    return gi

## Class 
### class used for :
#### Null, least-n, top-n, ROI,  sum aggregation, mean aggregation, by postion,by a vales, and few graphs

In [ ]:
class Movie_analysis(object):
#''' it contains methods for analysis for movie dataset :  
# ''' it contains plotting null values, finding top rated by column names, plotting bar and scatter plots, mean and sum groupby ''
    
    def __init__(self, df):
        self.df = df
        
    def null_plot(self):
#plots bar graph for all the null values in a dataframe
        null = self.df.isnull().sum().plot(kind = 'bar',figsize = (10,5))
        return null
    
######################---Top---###################################
        
    def top_rated(self, col1, col2,clo3, col4):
 # function that takes 4 column names, groups by maximum of col1 w.r.t(displays) col2,3,4 and sorts by col2       
        mr = self.df.groupby(col1)[col2, clo3,col4].max().sort_values(by = col2, ascending = False)
        return mr
    
#     def top_n(self, col1, col2,col3,col4, n):
# # Top n (n = natural number) for any two columns within any df along with dataframe df.
#     #Finds top n of two columns!
# #where col1 = displayed w.r.t col2's nlargest values
#         topn = self.df.nlargest(n, col2)[[col1,col2,col3,col4]].reset_index()
#         return topn 
    
    def top_n(self, col1, col2,col3,col4, n):
    #to find Top n of any two columns(col1, col2), in a Dataframe(df).
        tn = self.df.nlargest(n, col2)[[col1,col2,col3,col4]].reset_index(drop=True)
        return tn
    
    def top_10(self, col1, col2):
    #to find Top 10 of any two columns(col1, col2), in a Dataframe(df).
        t10 = self.df.nlargest(10, col2)[[col1,col2]].reset_index(drop=True)
        return t10
    
    
    def top_rated_year(self,col1,col2,col3,year):
        myr = self.df.groupby(col1).max().loc[year][[col2,col3]]
        return myr
    
    def last_n(self, col1,col2,col3,n):
        ln = self.df.groupby(col1)[col2,col3].max().tail(n)
        return ln
    
    
  
    
    
    def top_25(self, col1,col2):
    ## Need to be improved
    #group by col1 with summation of col2 and naming the col2 with col2name
        smm = self.df[col2].groupby(self.df[col1]).sum().head(25)
        smm = smm.to_frame(name= col2)
        sn = smm.sort_values(col2, ascending = False)
        return smm,sn
    
########################--Least--###############################################
  
    def least_n(self, col1, col2,col3,col4, n):
    #to find Least n of any two columns(col1, col2), in a Dataframe(df)  but view by 4 columns.
        ln = self.df.nsmallest(n, col2)[[col1,col2,col3,col4]].reset_index(drop=True)
        return ln
    
    
    def least_rated_year(self,col1,col2,col3,year):
        lyr = self.df.groupby(col1).min().loc[year][[col2,col3]]
        return lyr


    
    
##############---Sum & Mean Groupby---##########################################   
    def mean_groupby(self, col1, col2, col3):
    #gropping colomns with mean aggregation. 
        agrp = df.groupby(col1)[col2,col3 ].agg('mean')
        return agrp 
    
    
    def sum_groupby(self, col1, col2, col3):
#gropping colomns with sum aggregation. 
# Function to Groupby by one colomn w.r.t two other colomns. 
        grp = self.df.groupby(col1)[col2,col3 ].agg('sum')
        return grp
    
    
################################Return on Investment #############################
    
    def roi(self,col1,col2,col3,n):
#calculatin Return on Investment(ROI) for one Parameter = col1, 
# profit = col2
# investment = col3
        profit = self.df.groupby(col1)[col2 ].agg('sum')
        invest = self.df.groupby(col1)[col3].agg('sum')
        ri = profit/invest
        gi = ri.sort_values(ascending = False).head(n)
        return gi
    
    def roiy(self,col1,col2,col3,n,yearv,y):
#calculatin Return on Investment(ROI) for one Parameter = col1, 
# profit = col2
# investment = col3
#n = number of values to be displayed
# yearv = to give a column name for year based analysis(name of the year column)
# y = year(to get all the values greater than year y )
        v = self.df[self.df[yearv]>= y]
        profit = v.groupby(col1)[col2 ].agg('sum')
        invest = v.groupby(col1)[col3].agg('sum')
        ri = profit/invest
        gi = ri.sort_values(ascending = False).head(n)
        return gi
    
#####################---Graphs----##################### 
    def barplot_col(self, col1, col2,labelx,labely):
 # Function to plot a Red Bar plot with two colomns in a given Dataframe(df).
    #to plot a dataframes' Bar graph, colums and their labels 
        bplot = self.df.plot(kind='bar',x=col1 ,y=col2, figsize=(18,9), color='darkblue')
        xl =plt.xlabel(labelx)
        yl = plt.ylabel(labely)
        return bplot, xl,yl

## # Fast - Graph Functions

In [ ]:
## Graph functio not part of to any Class.
def barplot(s):
        brplt = s.plot(kind='bar', figsize=(18,9), color='rbg')
        return brplt
    
def barhplot(s):
    bhplt = s.plot(kind='barh', figsize = (18,9), color = 'gbr')
    return bhplt

def histplot(s):
    hplt = s.plot(kind='hist', figsize = (18,9), color = 'kbr')
    return hplt

def hist_col(s,col1,xlabel,ylabel,title):
    hc = s.plot(kind='hist', figsize=(12,8),bins=40, stacked=True)
    plt.title(title)
    plt.xlabel(xlabel)
    plt.ylabel(ylabel)
#     plt.locator_params(nbins=15)


def sctrplt(s, col1, col2,labelx, labely):
    # scatter plot for two columns.
    splt =plt.scatter(s[col1], s[col2], marker='.')
    xl =plt.xlabel(labelx)
    yl = plt.ylabel(labely)
    return splt, xl,yl

def stripplot(s,col1,col2,huecol):
    ax = sns.stripplot(x=col1, y=col2,hue = huecol,
                   data=s, jitter=True ,size= 6, marker= "p" ,linewidth=1,split=True)

### # working with Time series!

In [ ]:
##### Opening a CSV and converting datatime to datetime format for analysis

sample_df = pd.read_csv("C:/Users/arjun/Documents/Enernoc_Project_Aj/Data_csv/csv/10.csv", parse_dates =['column name'])

In [ ]:
# Function to convert datatime column object to datetime format. 

def conv_datetime(df,col,):
# converting datatime to datetime format for analysis    
    dt = df[col] = pd.to_datetime(df[col])
    return dt

In [ ]:
#### Creating a new date and time seperate columns.

sample_df['new_date'] = [d.date() for d in sample_df['dttm_utc']]
sample_df['new_time'] = [d.time() for d in sample_df['dttm_utc']]